# UCF file for the ESPIER_III V105 board. It has an integrated UART,
# a PS/2 connector (mouse/keyboard), a (slow) ADC, infraread receiver,
# 4 buttons, a 4 digit 7-segment led display and a VGA output (which uses up
# almost all available "regular" I/O for a cheap resistor-ladder DAC).

# 32MHz oscillator
NET sysclk_48m      LOC="P56"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;

# User LEDs
NET leds(3)         LOC="P97" | DRIVE=24 | IOSTANDARD=LVTTL;   # LED1 on IO board
NET leds(2)         LOC="P98" | DRIVE=24 | IOSTANDARD=LVTTL;   # LED2 on IO board
NET leds(1)         LOC="P94" | DRIVE=24 | IOSTANDARD=LVTTL;   # LED3 on IO board
NET leds(0)         LOC="P95" | DRIVE=24 | IOSTANDARD=LVTTL;   # LED4 on IO board

# P14 is TXD of PL2303(clone), P12 is RXD of PL2303(clone)
NET serial_rx       LOC="P14" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET serial_tx       LOC="P12" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

# Buttons from left to right (Silkscreen labels S4 S3 S2 S1) have funky names:
# Silkscreen / Net1  / Net2  / FPGA-Pin / VHDL Toplevel Signal
# S4         / RSTn  / Key 4 / P16      / reset_button
# S3         / uKEY1 / Key 1 / P17      / console_select
# S2         / uKEY2 / Key 2 / P21      / button(2)
# S1         / uKEY3 / Key 3 / P15      / button(1)
NET reset_button    LOC="P16" | IOSTANDARD=LVTTL | SLEW = SLOW;
NET console_select  LOC="P17" | IOSTANDARD=LVTTL | SLEW = SLOW;
NET button(2)       LOC="P21" | IOSTANDARD=LVTTL | SLEW = SLOW;
NET button(1)       LOC="P15" | IOSTANDARD=LVTTL | SLEW = SLOW;

# There are two SPI flash 25Q328VSIG 32MBit chips (4 MByte)
# U9 is available for user storage
NET flash_spi_cs    LOC="P93"  | IOSTANDARD=LVTTL | SLEW=FAST;
NET flash_spi_clk   LOC="P88"  | IOSTANDARD=LVTTL | SLEW=FAST;
NET flash_spi_mosi  LOC="P87"  | IOSTANDARD=LVTTL | SLEW=FAST;
NET flash_spi_miso  LOC="P92"  | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP;

# U7 stores the FPGA configuration (called "FPGA Flash", funky net names)
NET cfgflash_mosi   LOC="P64" | IOSTANDARD=LVTTL | SLEW=FAST;  # "MOSI"
NET cfgflash_miso   LOC="P65" | IOSTANDARD=LVTTL | SLEW=FAST;  # "DIN"
NET cfgflash_cs     LOC="P38" | IOSTANDARD=LVTTL | SLEW=FAST;  # "CSO_B"
NET cfgflash_clk    LOC="P70" | IOSTANDARD=LVTTL | SLEW=FAST;  # "CCLK"

# SDRAM on Papilio Pro (MT48LC4M16)
NET SDRAM_ADDR(0)   LOC="P7" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR0
NET SDRAM_ADDR(1)   LOC="P8" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR1
NET SDRAM_ADDR(2)   LOC="P9" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR2
NET SDRAM_ADDR(3)   LOC="P10" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR3
NET SDRAM_ADDR(4)   LOC="P143"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR4
NET SDRAM_ADDR(5)   LOC="P142"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR5
NET SDRAM_ADDR(6)   LOC="P141"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR6
NET SDRAM_ADDR(7)   LOC="P140"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR7
NET SDRAM_ADDR(8)   LOC="P139"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR8
NET SDRAM_ADDR(9)   LOC="P138"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR9
NET SDRAM_ADDR(10)  LOC="P6" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR10
NET SDRAM_ADDR(11)  LOC="P137"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR11
NET SDRAM_ADDR(12)  LOC="P134"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_ADDR12
NET SDRAM_DQ(0)     LOC="P100"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ0
NET SDRAM_DQ(1)     LOC="P99"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ1
NET SDRAM_DQ(2)     LOC="P102"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ2
NET SDRAM_DQ(3)     LOC="P101"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ3
NET SDRAM_DQ(4)     LOC="P104"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ4
NET SDRAM_DQ(5)     LOC="P105"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ5
NET SDRAM_DQ(6)     LOC="P111"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ6
NET SDRAM_DQ(7)     LOC="P112"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ7
NET SDRAM_DQ(8)     LOC="P127"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ8
NET SDRAM_DQ(9)     LOC="P126"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ9
NET SDRAM_DQ(10)    LOC="P124"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ10
NET SDRAM_DQ(11)    LOC="P123"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ11
NET SDRAM_DQ(12)    LOC="P121"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ12
NET SDRAM_DQ(13)    LOC="P120"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ13
NET SDRAM_DQ(14)    LOC="P119"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ14
NET SDRAM_DQ(15)    LOC="P118"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQ15
NET SDRAM_DQM(0)    LOC="P114"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQML
NET SDRAM_DQM(1)    LOC="P131"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_DQMH
NET SDRAM_BA(0)     LOC="P2" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_BA0
NET SDRAM_BA(1)     LOC="P5" | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_BA1
NET SDRAM_nWE       LOC="P115"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_nWE
NET SDRAM_nCAS      LOC="P116"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_nCAS
NET SDRAM_nRAS      LOC="P117"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_nRAS
NET SDRAM_CS        LOC="P1"   | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_CS
NET SDRAM_CLK       LOC="P132"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_CLK
NET SDRAM_CKE       LOC="P133"  | IOSTANDARD=LVTTL | SLEW=FAST;           # SDRAM_CKE

# 7 segment display
NET "ss_seg[7]" LOC = "P85" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[6]" LOC = "P84" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[2]" LOC = "P83" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[3]" LOC = "P82" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[4]" LOC = "P81" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[0]" LOC = "P80" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[1]" LOC = "P79" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_seg[5]" LOC = "P78" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_digit[3]" LOC = "P75" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_digit[1]" LOC = "P74" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_digit[2]" LOC = "P67" | IOSTANDARD=LVTTL | SLEW=SLOW;
NET "ss_digit[0]" LOC = "P66" | IOSTANDARD=LVTTL | SLEW=SLOW;

NET "ps2_clk"   LOC = "P24" | IOSTANDARD=LVTTL | SLEW=SLOW; # J3 P4 
NET "ps2_dat"   LOC = "P23" | IOSTANDARD=LVTTL | SLEW=SLOW; # J3 P3
NET "ext_plus"   LOC = "P58" | IOSTANDARD=LVTTL | SLEW=SLOW; # J3 P23
NET "ext_minus"  LOC = "P57" | IOSTANDARD=LVTTL | SLEW=SLOW; # J3 P24